body {
  background-color: lightsteelblue;
}
.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
}
.grid div {
  width: 20px;
  height: 20px;
  background-color: aliceblue;
}
